03월 13일 화요일 : 리스트(list) 데이터 타입
===
화창한 날, 파이썬 공부하기 좋은 날씨다.

시퀀스 데이터 타입이고, 여러 개의 아이템들의 배열을 나타내며, 순서가 정해져있다. 시퀀스 데이터 타입 종류에는 다음과 같다.
* 문자열(str) : 캐릭터들의 시퀀스
* 리스트(list) : 임의의 타입을 갖는 데이터들의 시퀀스
* 튜블(tuple)

문자열과 리스트가 다른 점은 캐릭터 뿐만 아니라 다양한 데이터의 집합을 정의할 수 있다.

# 리스트 데이터 생성
---
'[]' 으로 둘러쌓인 임의의 타입을 갖는 데이터들의 시퀀스

In [7]:
list_str = list("123456")

In [8]:
list_str

['1', '2', '3', '4', '5', '6']

In [9]:
list_str*2

['1', '2', '3', '4', '5', '6', '1', '2', '3', '4', '5', '6']

In [12]:
list_str[2:-1:2]

['3', '5']

리스트 슬라이싱에서 여러 가지 복잡한 구조의 리스트 사용이 가능하도록 만들어 놨다. 하지만 깔끔하지 않기 때문에, 복잡한 구조는 권장하지 않는다.

**Immutable 인 문자열과 다르게 mutable 데이터 타입이다!!!**

슬라이싱을 통해 리스트를 수정가능하지만 리스트 크기가 같을 필요가 없다!

In [21]:
list_str[2:] = ['10']
list_str

['1', '2', '10']

In [13]:
%whos

Variable   Type    Data/Info
----------------------------
list_str   list    n=6

# 리스트 관련 함수
---
1. len
2. sum
3. max / min

In [23]:
len(list_str)

3

# 리스트 클래스 내장 함수
---
1. append : 가장 자주 쓰일 함수들

In [24]:
list_str.append(-1)
list_str

['1', '2', '10', -1]

# 데이터 타입에 따른 작동 방식의 차이
---
다르다??11!! 나닛

# Mutable vs Immutable
---
immutable 은 수정 불가능 그러나 mutable 은 수정가능하다!

In [26]:
a = [1,2,3,4]
b = a
c = b
a.append(-1)
print(a,b,c)

[1, 2, 3, 4, -1] [1, 2, 3, 4, -1] [1, 2, 3, 4, -1]

In [30]:
a = '1'*40
b = '11'*20
print(id(a),id(b))

4403411440 4403411920